body {
    font-family: Helvetica;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    font-weight: 400;
}

.main-header {
    background-color: #004165;
    color: #fff;
    overflow: hidden;
    padding: 0.5rem;
    text-align: center; 
}

.main-header h1 {
    line-height: 1;
    margin: 0;
    font-weight: 400;
}

.main-header a {
    color: white;
    text-decoration: none;
}

.main-content {
    padding: 0.5rem;
}





.search-page {
    text-align: center
}

.search-page__input {
    border: 1px solid black;
    padding: 0.2em;
    margin-right: 1em;
    font-size: 20px;
}
.search-page__button {
    border: 1px solid black;
    background-color: #004165;
    color:white;
    font-size: 20px;
    cursor: pointer;
}





.user-info {
    display: flex;
    flex-wrap: wrap;
}

.user-info__avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 1em;
    float: left;
}

.user-info__text {
    text-decoration: none;
    flex: 1;
}
.user-info__text  img{
    zoom:3;
}
.user-info__title {
    font-size: 30px;
}

.user-info__title, .user-info__bio {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-info__stats {
    list-style: none;
    padding: 0;
    flex: 1;
    display: flex;
}

.user-info__stats a {
    color: #000;
    text-decoration: none;
    text-transform: lowercase;
    font-variant: small-caps;
    text-align: center;
}

.user-info__stat {
    flex: 1;
}

.user-info__stat p {
    margin: 0;
    white-space: nowrap;
}

.search-results{
    margin-top:50px;
}


/*
Kendo styling
*/

#listView {
            padding: 10px 5px;
            margin-bottom: -1px;
            min-height: 510px;
        }
        .product {
            float: left;
            position: relative;
            width: 165px;
            height: 170px;
            margin: 0 5px;
            margin-top: 20px;
            margin-left: 185px;
           /* padding: 20px;*/
        }
        .product img {
            width: 164px;
            height: 110px;
        }
        .product h3 {
            margin: 0;
            padding: 3px 5px 0 0;
            max-width: 96px;
            overflow: hidden;
            line-height: 1.1em;
            font-size: .7em;
            font-weight: normal;
            text-transform: uppercase;
            color: #999;
        }
        .product p {
            visibility: hidden;
        }
        .product:hover p {
            visibility: visible;
            position: absolute;
            cursor: pointer;    
            width: 165px;
            height: 164px;
            top: 0;
            margin: 0;
            padding: 0;
            line-height: 110px;
            vertical-align: middle;
            text-align: center;
            color: #fff;
            background-color: rgba(0,0,0,0.75);
            transition: background .2s linear, color .2s linear;
            -moz-transition: background .2s linear, color .2s linear;
            -webkit-transition: background .2s linear, color .2s linear;
            -o-transition: background .2s linear, color .2s linear;
        }
        .k-listview:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }



#react-paginate ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

#react-paginate li {
    display: inline-block;
}

#react-paginate .break a {
    cursor: default;
}
.pull-left{
    float:left;
    display:flex;
}
.pull-right{
    float:right;
    display:flex;
}
.paginate-parent{
    text-align: center;
}